body{
    background-color: #F5E59E;
}

.filas{
    border: 1px solid black;
    text-align: center;
    width: 75%;
    margin: 20px auto;
    background-color: #cac3ad;
}

#eletrodomesticos{
    text-align: center;
    width: 75%;
    margin: 0 auto;
    background-color: #cac3ad;
    border-radius: 12px;
}

#conversaoDeEnergia{
    text-align: center;
    width: 75%;
    margin: 0 auto;
    background-color: #cac3ad;
    border-radius: 12px;
}

#titulo{
    font-size: 50px;
    color: BLACK;
    text-align: center;
}

#input{
    margin-top: 20px;
    margin-bottom: 50px;
}

.opcoes{
    width: 100px;
    border: 3px solid black;
    text-align: center;
    margin-top: 2px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 2px;
}

.destaque{
    border: 3px solid red;
}

.mostrarImagens{
    width: 285px;
    height: 285px;
    border: 3px solid black;
}

button{
    border-radius: 3px;
}

.resultadoImagens{
    text-align: center;
    display: inline-block;
    width: 150px;
    border: 1px solid black;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 5px;
}

#resultado{
    text-align: center;
    display: inline-block;
    width: 150px;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 15px;
}
.configuracaoImagens{
    display: inline-block;
    border: 3px solid black;
    width: 285px;
    height: 285px;
    margin: 5px;
}

.bordaImagens{
    display: inline-block;
    border: 7px solid green;
    width: 285px;
    height: 285px;
}

#comparar{
    margin: 15px;
}

#filaDeFato{
    text-align: center;
}

#filaDeFato h4{
    background-color: gold;
    width: 350px;
    text-align: center;
    padding: 15px;
    margin: 10px auto; 
}

.botoesParaModificarFila{
    padding-bottom: 15px;
}

.filas{
    border-radius: 12px;
    border: none;
}