#eletrodomesticos{
    border: 1px solid black;
    text-align: center;
    width: 75%;
    margin: 0 auto;
}

#conversaoDeEnergia{
    border: 1px solid black;
    text-align: center;
    width: 75%;
    margin: 0 auto;
}

#titulo{
    font-size: 50px;
    color: rgb(202, 202, 69);
    text-align: center;
}

#input{
    margin-top: 2px;
}

.opcoes{
    width: 100px;
    border: 3px solid black;
    text-align: center;
    margin-top: 2px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 2px;
}

.destaque{
    border: 3px solid red;
}

.mostrarImagens{
    width: 285px;
    height: 285px;
    border: 3px solid black;
}

button{
    border-radius: 3px;
}

.resultado{
    text-align: center;
    display: inline-block;
    width: 150px;
    border: 1px solid black;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 5px;
}

.configuracaoImagens{
    display: inline-block;
    border: 3px solid black;
    width: 285px;
    height: 285px;
    margin: 5px;
}

.bordaImagens{
    display: inline-block;
    border: 3px solid red;
    width: 285px;
    height: 285px;
}

#comparar{
    margin: 15px;
}




